<div class="indigo-sidenav sidenav-animate-left" *ngIf="menu.active">
  <div class="indigo-name-display" (click)="onResetMenu()">Hello {{user.name}}</div>
  <!-- <ng-container *ngIf="!hideSubOptions"> -->
      <a class="indigo-sidenav-button indigo-ripple" *ngFor="let option of options" (click)="onSelect(option)">
          <span>{{option.display | uppercase}}</span>
          <button *ngIf="option.suboptions">
              <i class="fas fa-chevron-right"></i>
          </button>
        </a>
  <!-- </ng-container> -->
  
  <ng-container *ngIf="hideSubOptions">
    <div class="nested-indigo-sidenav sidenav-animate-right" (click)="onResetMenu()">
        
        <li *ngFor="let suboption of selectedOption.suboptions">
            <ng-container *ngIf="!hideOtherSubOptions || suboption==selectedSubOption">
                <a class="indigo-sidenav-button indigo-ripple"  (click)="onSelectSub(suboption);$event.stopPropagation()" >
                    <span>{{suboption.display}}</span>
                    <button *ngIf="suboption.suboptions">
                        <i [className]="(hideOtherSubOptions) ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                    </button>
                </a>
                <ul class="indigo-dropdown-container dropdown-animate-down" *ngIf="selectedSubOption == suboption">
                    <li *ngFor="let suboption of selectedSubOption.suboptions"><a class="indigo-sidenav-button" >
                        <span>{{suboption.display}}</span>
                        <button *ngIf="suboption.suboptions">
                            <i class="fas fa-chevron-down"></i>
                        </button>
                    </a></li>
                </ul>
            </ng-container>
        </li>
        
        
    </div>
  </ng-container>
</div>